{% extends "base.html" %}

{% block content %}
    <h1> Add a Blog Entry</h1>
    <form action="/newpost" method ="post">
        <label for = 'title'>
            Title for your new blog:<br>
            <br>
            <input type = "text" name = 'title' />
            <p class = 'error'>{{title_error}}</p>
        </label>
        <h1></h1>

        <label for ='body'>
            Your new blog:<br>
            <br>
            <textarea id="body" name ='body' cols='50' rows='10'></textarea>
            <p class = 'error'>{{body_error}}</p>
        </label>
        <h1></h1>
        <input type = "submit" value = 'Add Entry' />
    </form>

{% endblock %}
